<div *ngIf="all_stocks.length > 0; else loading">
    <ul>
      <li *ngFor="let stock of all_stocks">
        <strong>UserID:</strong> {{ stock.userId }}<br>
        <strong>ID:</strong> {{ stock.id }}<br>
        <strong>Title:</strong> {{ stock.title }}
        <strong>Body:</strong> {{ stock.body }}
        <hr>
      </li>
    </ul>
  </div>
  
  <!-- Fallback template for empty/error states -->
  <ng-template #loading>
    <p *ngIf="all_stocks.length === 0; else error">No data available.</p>
    <ng-template #error><p>Error loading data.</p></ng-template>
  </ng-template>
  

